# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore


## Build generated
build/
DerivedData

## User settings
xcuserdata/
xuserstate

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Obj-C/Swift specific
*.hmap
*.ipa
*.xcuserstate
*.dSYM.zip
*.dSYM
.DS_Store
.idea/

# CocoaPods

ChatXMPPClient/Pods/
/ChatXMPPClient/Podfile.lock
/ChatXMPPClient/prebuild.log

/ChatXMPPClient/*.xcworkspace/
/*.xcworkspace/xcshareddata/xcschemes/*.xcscheme

*.xcworkspace
*.xcworkspacedata
IDEWorkspaceChecks.plist


.DS_Store
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.xcworkspace
!*.xcworkspace
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate

# Swift Package Manager
.Package.resolved
Package.pins
.checkout/

# CocoaPods
Pods/
Podfile.lock
